* {
    box-sizing: border-box;
    font-size: 18px;
    font-family: fantasy, SansSerif;
    position: relative;
}

html,body {
    margin:0;
    padding:0;
    overflow-x:hidden;
}

body {
    color: black;
    background-color: silver;
}

.row {
    margin: 30px;
}

#chicken, #pork, #beef {
    padding: 30px;
    margin-bottom: 80px;
    margin-right: 500px;
    border: 2px solid dimgrey;
    background: midnightblue;
    color: white;
    box-shadow: 0px 0px 10px 3px black;
}

#header-nav {
    border: 0;
    width: 100%;
    padding: 15px;
}

.navbar-dark {
    box-shadow: 0px 0px 12px 1px black;
    background-color: midnightblue;
    width: 100%;
}

.navbar-brand {
    font-size: 25px;
    color:white;
}

@media (max-width: 767px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }

    #navbar-list {
        margin-top: 30px;
        width: 100%;
    }

    #navbar-list a {
        color: white;
        text-decoration: none;
    }

    #navbar-list li:hover {
        background: deepskyblue;
        margin-left: -100%;
        margin-right: -100%;
    }
}

